<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAUguzDZhFFaCI1E2y1kZwegWkzd4duLPk</string>
	<key>GCM_SENDER_ID</key>
	<string>56446072383</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cvMaker</string>
	<key>PROJECT_ID</key>
	<string>cv-craft-91e54</string>
	<key>STORAGE_BUCKET</key>
	<string>cv-craft-91e54.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:56446072383:ios:a9b32c84d995808743aa8a</string>
</dict>
</plist>